button {
    margin: 5px;
}

.six {
    color: #524E49; /* Цвет текста */
    background: #6bddcb; /* Фоновый цвет */
    padding: 5px; /* Отступ текста от границ. Определяет размер кнопки */
    font-size: 15px; /* Размер текста */
    border-radius: 5px; /* Закругление уголков */
    box-shadow: 0 1px 2px; /* Тень */
    /* Задаём анимацию. Для всех элементов (all), время появления рамки (500ms), быстро начинается потом замедляется (ease-out) */
    transition: all 500ms ease-out;
}
/* Эффект при наведении */
.six:hover { /* Добавляем псевдокласс :hover */
    /* Используем несколько теней разного цвета и размера */
    box-shadow: 0 0 0 2px #f90914,
    0 0 0 7px #a7f9c9,
    0 0 0 9px #f90914,
    0 0 5px 10px #ff4d00;
}
